<li>
  <p class="js-rental-group-item js-rental-group-item" data-text="<%= resource['ItemGroup'] %>" data-value="<%= resource['ItemGroup'] if resource['ItemGroup'] != 'All' %>"><%= resource['ItemGroup'] %></p>
</li>