<div class="dashboard-container">
  <div class="row no-gutters">
    <div class="col-3">
      <%= render partial: 'users/user_actions' %>
    </div>
    <div class="col-9">
      <div class="action-detail-container">
        <h3>Staff Members</h3>
        <% if @staff_members.present? %>
        <% else %>
          <p>No Members found</p>
        <% end %>
      </div>
    </div>
  </div>
</div>