<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag image_url('logo.png'), class: 'brand-logo' %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-block w-100">
      <li class="nav-item float-right">
        <%= link_to "Login", login_form_users_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>