<div class="filters-container">
  <div class="d-flex justify-content-start">
    <h3>Filters: </h3>
    <div class="filters-make-container filters-selected-container">
      <span class="filter-heading">Make: </span><span class="filter-content">All</span>
    </div>
    <div class="filters-type-container filters-selected-container">
      <span class="filter-heading">Type: </span><span class="filter-content">All</span>
    </div>
  </div>
</div>