nav {
  padding: 8px 50px !important;
  
  .navbar-brand {
    img {
      width: 150px;
      height: 35px;
      display: inline-block;
    }
  }

  .user-profile {
    label {
      margin-right: 10px;
      margin-bottom: 0;
      line-height: 30px;
      cursor: pointer;
    }

    .user-img {
      width: 30px;
      height: 30px;
      display: block;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}