nav {
  padding: 8px 50px !important;
  
  .navbar-brand {
    img {
      width: 150px;
      height: 35px;
      display: inline-block;
    }
  }

  .user-img {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
  }
}