// Place all the styles related to the contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.attribute-value-label-container {
  .attribute-label {
    line-height: 34px;
  }

  .attribute-label-value {
    background-color: skyblue;
    color: black;
    padding: 5px 10px;
  }
}