// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dashboard-container {
  padding: 50px 100px;

  .user-actions-list {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0;
    margin: 0;

    .user-actions-list-item {
      list-style-type: none;
      cursor: pointer;
      border-bottom: 1px solid grey;

      &:last-child {
        border-bottom: none;
      }

      a {
        padding: 10px 20px;
        border-radius: 4px;
      }
    }
  }

  .action-detail-container {
    padding: 0 50px;
  }
}